PORT=3001

MAILER_SERVICE=gmail
MAILER_EMAIL=alexoliva87464@gmail.com
# Create Google App passowrd
# https://myaccount.google.com/u/0/apppasswords
MAILER_SECRET_KEY=rszr hirs nmgf wnuw

PROD=false

# MongoDB Settings
MONGO_URL=mongo-url
MONGO_NAME=NOC
MONGO_USER=admin
MONGO_PASS=1234

# PostgreSQL Settings
POSTGRES_URL=
POSTGRES_USER=postgres
POSTGRES_DB=NOC
POSTGRES_PASSWORD=1234